.game-container {
  position: relative;
  width: 401px;
  margin: auto;
}
.text-container{
  display: block;
}

#game-bg {
	z-index: 1;

}

#game {
  border: 1px dashed black;
  display: inline-block;
  position: absolute;
  top: -1px;
  right: 0px;
  z-index: 3;
}
#title-banner {
  font-family: 'Press Start 2P', cursive;
  position: absolute;
  top: -10px;
  left: 100px;
  color: #FFFD54;

}
#lives {
  font-family: arial;
  position: absolute;
  left: 10px;
  bottom: -20px;
  width: 200px;
  color: #FFFD54;
  z-index: 4;
}

#level {
  font-family: arial;
  position: absolute;
  right: 10px;
  bottom: -20px;
  width: 130px;
  color: #FFFD54;
  z-index: 4;
}

.btn-container {
  display: flex;
  flex-flow: column nowrap;
  position:absolute;
  left: -135px;
  bottom: 240px;
}

.game-btn {
  height: 30px;
  border: 1px solid #333E13;
  background-color: #8CAB35;
  font-size: 24px;
  color: #FFFD54;
}

.start-btn-disabled {
  background-color: #666363;
  color: #EC5B62;
}
.start-btn-disabled:hover {
  background-color: #666363;
}
button:hover {
  z-index: 5;
  background-color:#B2CF63;
}

#game-over-screen {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 200px;
  z-index: 10;
  color: #ff0066;
  font-size: 24px;
}
#game-over-screen p {
  width: 155px;
  margin: auto;
}
.move-arrows {
  position: absolute;
  left: 340px;
  top: 130px;
}
#move-inst {
  color: #8CAB35;
  font-family: arial;
  font-size: 24px;
  position: absolute;
  top: 90px;
  left: 308px;
}
.arrows {
  border: 1px solid #4C5E1D;
  background-color: #8CAB35;
  color: #FFFD54;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  padding-top: 5px;
}
#left {
  position: absolute;
  left:-32.5px;
  top:37px;
}
#right {
  position: absolute;
  right: -32px;
  top: 37px;
}
#up {
  width: 35px;
}
#down {
  width: 35px;
}